$border : 1px solid black;
$CHART_LABEL_WIDTH: 21px;
$font : "Courier New", Courier, monospace;
$fontLato: Lato;


// The default letters ('x', 'o')
i.x::after {
    content : 'x';
    font-style: normal;
}
i.o::after {
    content : 'o';
    font-style: normal;
}
i.tie::after {
    content : 'tie';
    font-style: normal;
}

// "Tic Tac Topia"
h2 {
  font-size: 20px;
  width: 100%;
  text-align: center;
  font-family: $font;

  > span {
    font-size: 26px;
  }

  > hr {
    margin: 0 7px 32px;
  }
}


// The gameboard container.
div > {
  div.ticrow {
    text-align: center;
    margin: 0 auto;
    font-family: "Courier New", Courier, monospace;
    line-height: 36px;
    white-space: pre;
    height: 37px;

    > span {
      display: inline-block;
      cursor: pointer;
      width: 36px;
      height: 36px;
      padding-left: 7px;
      position: relative;

      // The game pieces (icons and 'x', 'o')
      > i {
        position: absolute;
        left: calc(50% - 11px);
        top: calc(50% - 28px);
        font-size: 24px;
        line-height: 57px;
      }

      // The game pieces ('x', 'o')
      > i.x, i.o {
        left: calc(50% - 6px);
        top: calc(50% - 31px);
        line-height: 61px;
      }
    }

    > span:not(:first-of-type) {
      border-left: $border;
    }
  }
  div:not(:last-of-type) > span {
    border-bottom: $border;
  }
}

// The 'x won!' and 'x it is your move!' text
div.win {
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;

  > span.your-move {
    font-weight: 500;

    > i {
      font-weight: bold;
    }
  }
}

i.fa-trash-alt, i.fa-play-circle,
i.fa-cog {
  cursor: pointer;
  font-size : 28px;
  margin-left: 15px;
  vertical-align: -20%;
}

div.settingsPanel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightgray;

  > h4 {  // Header text
    text-align: center;
  }

  // Close 'x'
  > span {
    font-size : 22px;
    cursor: pointer;
    float: right;
    margin: 0 10px;
  }

  > i {
    font-size: 32px;
    margin: 5px;
    cursor: pointer;
  }

  > label {
    margin-left: 7px;

    > input, > button {
      padding : 12px;
      border-radius: 7px;
    }
    > input {
      width: 14px;
    }
    > button {
      cursor: pointer;
      background-color : indigo;
      color : white;
      margin-left: 3px;
      font-size: 12px;
    }
  }
}


// The 'winners' bar chart.
// TODO: Confusion!
// If :host means "this component" and ::ng-deep
// means "global", then why does the combination
// mean "scoped to the current component and
// all its descendants"?  And more importantly,
// how is it different from just "div.chart"
// AND why does the latter fail while the
// below works?
:host ::ng-deep div.chart {
  margin : 10px 0;

  > div {
    font: 14px sans-serif;
    margin: 2px 0;
    color: white;

    > span, > i {
      display: inline-block;
    }

    // The legend (player name e.g. 'x' or 'o')
    > i:first-of-type {
      width: $CHART_LABEL_WIDTH;
    }
    > i:first-of-type,    // The legend and
    > span:nth-child(3) { // the numeric value
      color: steelblue;
      vertical-align: 80%;
    }

    // The numeric value.
    > span:nth-child(3) {
      margin-left: 3px;
    }

    // The bar chart
    > span:nth-child(2) {
      height: 36px;
      // background-color: steelblue;
    }
  }

  // Yes, these need to be redefined here,
  // in the 'local global' (!?!) scope, to render.
  i.x::after {
    content : 'x';
    font-style: normal;
  }
  i.o::after {
      content : 'o';
      font-style: normal;
  }
  i.tie::after {
      content : 'tie';
      font-style: normal;
  }
}


// The bg image
div.bg-img {
  background-image: url(https://i.imgur.com/FGKQfE2.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
  z-index: -1;
  background-size: cover;
}