$border : 1px solid black;
$font : "Courier New", Courier, monospace;
$fontLato: Lato;

::ng-deep {
  body {
    background: none;
  }
}

// The default letters ('x', 'o')
i.x::after {
    content : 'x';
    font-style: normal;
}
i.o::after {
    content : 'o';
    font-style: normal;
}
i.tie::after {
    content : 'tie';
    font-style: normal;
}

// "Tic Tac Topia"
h2 {
  font-size: 20px;
  width: 100%;
  text-align: center;
  font-family: $font;

  > span {
    font-size: 26px;
  }

  > hr {
    margin: 0 7px 32px;
  }
}


// The gameboard container.
div > {
  div.ticrow {
    text-align: center;
    margin: 0 auto;
    font-family: "Courier New", Courier, monospace;
    line-height: 36px;
    white-space: pre;
    height: 37px;

    > span {
      display: inline-block;
      cursor: pointer;
      width: 36px;
      height: 36px;
      padding-left: 7px;
      position: relative;

      // The game pieces (icons and 'x', 'o')
      > i {
        position: absolute;
        left: calc(50% - 11px);
        top: calc(50% - 28px);
        font-size: 24px;
        line-height: 57px;
      }

      // The game pieces ('x', 'o')
      > i.x, i.o {
        left: calc(50% - 6px);
        top: calc(50% - 31px);
        line-height: 61px;
      }
    }

    > span:not(:first-of-type) {
      border-left: $border;
    }
  }
  div:not(:last-of-type) > span {
    border-bottom: $border;
  }
}

// The 'x won!' and 'x it is your move!' text
div.win {
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;

  > span.your-move {
    font-weight: 500;

    > i {
      font-weight: bold;
    }
  }
}

i.fa-trash-alt, i.fa-play-circle,
i.fa-cog {
  cursor: pointer;
  font-size : 28px;
  margin-left: 15px;
  vertical-align: -20%;
}


// The bg image
div.bg-img {
  background-image: url(https://i.imgur.com/FGKQfE2.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.25;
  z-index: -1;
  background-size: cover;
}