
<h2>
  <span>T</span>IC <span>T</span>AC <span>T</span>OPIA
  <hr>
</h2>

<div>
	<div *ngFor="let row of dims" class="ticrow">
		<span *ngFor="let col of dims" (click)="drawAt(row, col)">
      <i [class]="icon[squares[row][col]] || ''"></i>
    </span>
  </div>
</div>  

<br>

<i [class]="(!winner) ? 'fa fa-trash-alt' : 'fa fa-play-circle'" (click)="reset()"></i>
<i class="fa fa-lrg fa-cog" routerLink="/settings"></i>

<div class="win">
  <span [hidden]="!winner">
    <ng-container *ngIf="winner === 'x' || winner === 'o'; else elseBlock">
      <i [class]="icon[winner]"></i> wins!!!
    </ng-container>
    <ng-template #elseBlock>
      It was a tie!!!
    </ng-template>
  </span>

  <span [hidden]="winner" class="your-move">
    <i [class]="icon[currLetter]"></i> it is your move!
  </span>
</div>

<div class="chart" [hidden]="!winner">
</div>

<div class="bg-img"></div>